@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Definición de colores */
  --color-primario: #1f4068;
  /* Azul profundo */
  --color-secundario: #f73859;
  /* Rojo vibrante */
  --color-acento: #f0ece2;
  /* Blanco hueso */
  --color-fondo: #f0f0f0;
  /* Gris claro */
  --color-texto: #333;
  /* Texto oscuro */
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

header {
  background-color: var(--color-primario);
  color: #fff;
  /* Texto blanco para contraste */
  padding: 15px;
  text-align: center;
}

h1 {
  font-weight: 600;
}

h2 {
  color: var(--color-secundario);
  /* Color rojo vibrante */
  font-weight: 500;
}

p {
  color: #666;
  text-align: justify;
}

.container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "header"
    "main"
    "section"
    "footer";
  max-width: 1200px;
  margin: 0 auto;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.index {
  background-image: url('ruta-de-tu-imagen.jpg');
  background-size: cover;
}

.container-img {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

.slide {
  width: 100vw;
  max-width: 1000px;
  height: 720px;
  overflow: hidden;
  border-radius: 10px;
}

.slide ul{
  display: flex;
  padding: 0px;
  width: 400%;

  animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

@keyframes slide {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  74%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

footer {
  background-color: var(--color-primario);
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-top: 1rem;
}

#pFooter {
  margin: 0;
}

@media(max-width:991px) {

  body {
    padding: 30px;
  }

  .slider-box {
    width: 100%;
  }
}

/* MEDIA QUERIES - Responsiveness */
@media (min-width: 1281px) {
  /* CSS para escritorios grandes */
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS para laptops y escritorios */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS para tablets y iPads (vertical) */
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS para tablets y iPads (horizontal) */
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS para tablets de baja resolución y móviles (horizontal) */
}

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS para la mayoría de los smartphones (vertical) */
}